* {
  margin: 0;
  box-sizing: border-box;
}

.note__container {
  display: flex;
  flex-direction: column;
}

.note__wrapper {
  display: flex;
  justify-content: space-between;
}

.note__checkbox:checked + .note__label {
  text-decoration: line-through;
}

.note__input,
.note__button {
  width: 100%;
}
