@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  position: relative;
  height: 91.2vh;
  background: lightgray;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  color: white;
  font-size: 4vh;
  line-height: 2em;
  background: rgb(122, 39, 158);
  padding-left: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 20%);
}

.header__button {
  position: absolute;
  top: 2.2vh;
  left: 1.3vw;
  color: white;
  font-size: 3vh;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.header__button.clicked {
  transform: rotate(90deg);
}

.header__title {
  user-select: none;
  margin: auto;
}

.note__container {
  margin: 8.8vh 30vw;
  display: flex;
  flex-direction: column;
}

.note__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 10px;
  padding: 10px;
  font-size: 20px;
  background: white;
  border-radius: 10px;
  transition: all 0.5s;
}

.note__wrapper:hover {
  background: rgb(204, 191, 209);
  color: rgb(122, 39, 158);
}

.note__label {
  margin-left: 10px;
}

.note__checkbox {
  accent-color: rgb(122, 39, 158);
}

.note__checkbox:checked + .note__label {
  text-decoration: line-through;
}

.note__button {
  font-size: 20px;
  margin-left: 5px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background: rgb(122, 39, 158);
  cursor: pointer;
  transition: all 0.5s;
}

.note__button:hover {
  color: rgb(122, 39, 158);
  background: white;
}

.note__input_edit {
  font-size: 20px;
  margin-left: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  width: 19ch;
  outline: none;
}

.note__input_edit:hover {
  border-color: rgb(122, 39, 158);
}

.plus__button {
  position: fixed;
  top: 75%;
  left: 85%;
  color: white;
  background: rgb(122, 39, 158);
  font-size: 6vh;
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.15s;
  animation-name: fromBottom;
  animation-duration: 0.5s;
}

.plus__button.clicked {
  background: white;
  color: rgb(122, 39, 158);
}

.checkbox-and-label__wrapper {
  display: flex;
  justify-content: center;
}

.header__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;
  position: absolute;
  top: -8.8vh;
  left: -60%;
  z-index: 1;
  background: lightgray;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 20%);
}

.sidebar__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
}

.sidebar__toggle-container {
  margin-bottom: 10px;
}

.in {
  animation-name: in;
  animation-duration: 0.5s;
}

.out {
  transform: translate(-200%);
  transition: 0.5s;
}

@keyframes in {
  from {
    transform: translate(-200%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes fromBottom {
  from {
    transform: translate(0, 300%);
  }

  to {
    transform: translate(0, 0);
  }
}

.sidebar__img {
  width: 100%;
  height: 30%;
  background: url("../img/imgonline-com-ua-convert23CEequQdwkX.jpg") no-repeat;
}

.sidebar__button {
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
  width: 95%;
  font-size: 20px;
  line-height: 2em;
  border: none;
  outline: none;
  margin-top: 10px;
  background: white;
  border-radius: 5px;
  transition: all 0.5s;
}

.sidebar__button:hover {
  background: rgb(204, 191, 209);
  color: rgb(122, 39, 158);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333232;
  }

  .header__sidebar {
    background: #333232;
  }

  header {
    background: rgb(32, 32, 32);
  }

  .plus__button {
    background: rgb(32, 32, 32);
  }

  .plus__button.clicked {
    color: rgb(32, 32, 32);
  }

  .note__wrapper {
    background: gray;
  }

  .note__wrapper:hover {
    background: white;
    color: black;
  }

  .note__input_edit:hover {
    border-color: rgb(32, 32, 32);
  }

  .note__checkbox {
    accent-color: rgb(32, 32, 32);
  }

  .note__button {
    background: rgb(32, 32, 32);
  }

  .note__button:hover {
    color: rgb(32, 32, 32);
    background: gray;
  }

  .sidebar__button {
    background: rgb(32, 32, 32);
    color: white;
  }

  .sidebar__button:hover {
    color: black;
    background: gray;
  }

  .sidebar__img {
    background: url("../img/imgonline-com-ua-Replace-color-bp3yHgxLfAijHgo.jpg")
      no-repeat;
  }
}

@media (max-width: 1024px) {
  .plus__button {
    left: 75%;
    width: 90px;
    height: 90px;
  }

  .note__input_edit {
    width: 15ch;
  }

  .header__sidebar {
    width: 40%;
    left: -80%;
  }

  .note__container {
    margin: 8.8vh 25vw;
  }
}

@media (max-width: 720px) {
  .plus__button {
    left: 70%;
    height: 80px;
    width: 80px;
    font-size: 5vh;
  }

  .note__button {
    font-size: 25px;
  }

  .note__input_edit {
    width: 12ch;
  }

  .header__sidebar {
    width: 50%;
    left: -100%;
  }

  .note__container {
    margin: 8.8vh 15vw;
  }
}

@media (max-width: 480px) {
  body {
    height: 92.8vh;
  }

  header {
    font-size: 3vh;
  }

  .header__button {
    font-size: 2.5vh;
  }

  .plus__button {
    left: 65%;
    height: 70px;
    width: 70px;
    font-size: 4vh;
  }

  .note__button {
    font-size: 30px;
  }

  .note__input_edit {
    width: 10ch;
  }

  .header__sidebar {
    width: 60%;
    top: -7.2vh;
    left: -120%;
  }

  .note__container {
    margin: 7.2vh 0;
  }

  .header__button {
    top: 1.4vh;
  }
}

@media (max-width: 320px) {
  body {
    height: 94.5vh;
  }

  header {
    font-size: 2.5vh;
  }

  .header__button {
    font-size: 2vh;
  }

  .plus__button {
    left: 65%;
    height: 70px;
    width: 70px;
    font-size: 4vh;
  }

  .note__button {
    font-size: 30px;
  }

  .header__sidebar {
    top: -5.5vh;
  }

  .note__container {
    margin: 5.5vh 0;
  }

  .header__button {
    top: 1.1vh;
  }
}
